[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygithub = "*"
requests = "*"
pandas = "*"
pyyaml = "*"
matplotlib = "*"
numpy = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.7"
